.u-section-1 .u-sheet-1 {min-height: 145px}
.u-section-1 .u-text-1 {background-image: none; font-weight: 700; font-style: italic; font-size: 6rem; width: 479px; margin: 20px auto} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: 489px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 129px}
.u-section-1 .u-text-1 {font-size: 5rem; width: 407px; margin-top: 21px; margin-bottom: 21px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 86px}
.u-section-1 .u-text-1 {font-size: 3.75rem; width: 340px; margin: 10px 19px} }.u-section-2 .u-sheet-1 {min-height: 480px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-2 .u-image-1 {min-height: 360px; background-image: url("images/photo_2020-10-19_09-56-16.jpg"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 360px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {animation-duration: 1000ms; margin: 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-image-1 {min-height: 297px}
.u-section-2 .u-layout-cell-2 {min-height: 297px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-image-1 {min-height: 227px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-image-1 {min-height: 341px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 647px}
.u-section-2 .u-layout-wrap-1 {margin-top: 23px}
.u-section-2 .u-image-1 {min-height: 230px}
.u-section-2 .u-layout-cell-2 {min-height: 334px} }